#pandoras-box-container {
  position: relative;
  background-image: url("background2.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: -10;
}

.homepage-title {
  position: absolute;
  text-transform: uppercase;
  font-family: "Jim Nightshade", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 6rem;
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(171, 109, 22),
    0 0 5px rgb(118, 72, 12);
  z-index: 10;
  margin-top: 25vh;
  margin-left: 15vw;
  opacity: 0;
  animation: firstTitleAnimation ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes firstTitleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homepage-title-animated {
  position: absolute;
  animation: titleAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-transform: uppercase;
  font-family: "Jim Nightshade", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 6rem;
  color: black;
  z-index: 10;
}

@keyframes titleAnimation {
  0% {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(82, 69, 12),
      0 0 5px rgb(46, 28, 4);
    margin-top: 25vh;
    margin-left: 15vw;
  }
  100% {
    text-shadow: 1px 1px 2px rgb(212, 131, 25), 0 0 25px rgb(175, 121, 54),
      0 0 5px rgb(113, 71, 16);
    margin-top: 25vh;
    margin-left: 35vw;
  }
}