/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Styles for the Pandora's box container */
#pandoras-box-container {
  position: fixed;
  background-image: url("background2.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: 10;
  left: 0;
  top: 0;
}
.homepage-undertext {
  position: absolute;
  color: #a56118;
  z-index: 20;
  margin-top: 78vh;
  margin-left: 48vw;
  font-size: x-large;
}
.hidden {
  display: none;
}
/* Initial homepage title styling */
.homepage-title {
  position: absolute;
  text-transform: uppercase;
  font-family: "Jim Nightshade", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 6rem;
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(171, 109, 22),
    0 0 5px rgb(118, 72, 12);
  z-index: 10;
  margin-top: 25vh;
  margin-left: 15vw;
  opacity: 0;
  animation: firstTitleAnimation ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes firstTitleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animated homepage title styling */
.homepage-title-animated {
  position: absolute;
  animation: titleAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-transform: uppercase;
  font-family: "Jim Nightshade", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 6rem;
  color: black;
  z-index: 10;
}

@keyframes titleAnimation {
  0% {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(82, 69, 12),
      0 0 5px rgb(46, 28, 4);
    margin-top: 25vh;
    margin-left: 15vw;
  }
  100% {
    text-shadow: 1px 1px 2px rgb(212, 131, 25), 0 0 25px rgb(175, 121, 54),
      0 0 5px rgb(113, 71, 16);
    margin-top: 25vh;
    margin-left: 35vw;
  }
}

/* Styles for the scenes */
/* .scene {
	display: none;
	opacity: 0;
	transition: opacity 2s; /* Adjust duration as needed */

.scene-visible {
  display: block;
  opacity: 1;
}

/* General body and html styling */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("./story background.png");
  background-repeat: repeat-y;
  font-family: "IBM Plex Serif", serif;
}

/* Fade out animation for Pandora's box container */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pandoras-box-container-fadeOut {
  animation: fadeOut 3s forwards; /* Adjust duration as needed */
}

/* sound */

#sound-toggle {
  position: fixed;
  top: 1rem;
  left: 2rem;
  cursor: pointer;
  border: none;
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  background-color: transparent;
  background-image: url("/public/musicon.png");
  background-size: cover;
  z-index: 100; /* Ensure it appears on top of other elements */
}

#sound-toggle.pause {
  background-image: url("/public/musicoff.png");
}

#black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
}
