#pandoras-box-container {
  position: relative;
  background-image: url("background2.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: -10;
}

.homepage-title {
  position: absolute;
  text-transform: uppercase;
  font-family: "Jim Nightshade", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 6rem;
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(171, 109, 22),
    0 0 5px rgb(118, 72, 12);
  z-index: 10;
  margin-top: 25vh;
  margin-left: 15vw;
  opacity: 0;
  animation: firstTitleAnimation ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes firstTitleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homepage-title-animated {
  position: absolute;
  animation: titleAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-transform: uppercase;
  font-family: "Jim Nightshade", cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 6rem;
  color: black;
  z-index: 10;
}

@keyframes titleAnimation {
  0% {
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(82, 69, 12),
      0 0 5px rgb(46, 28, 4);
    margin-top: 25vh;
    margin-left: 15vw;
  }
  100% {
    text-shadow: 1px 1px 2px rgb(212, 131, 25), 0 0 25px rgb(175, 121, 54),
      0 0 5px rgb(113, 71, 16);
    margin-top: 25vh;
    margin-left: 35vw;
  }
}

/* RESET */
* {
  padding: 0;
  margin: 0;
}

/* SCENE 4 */
.placeholder {
  background-color: black;
  height: 100vh;
}

.scene-4-5-background {
  background-color: black;
}

.scene-4-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
  margin: 0 auto;
  width:100%;
}

.paragraph-container {
  width: 30%;
  margin: auto 0;
  padding-left: 2rem;
}

#scene-4-paragraph {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.scene-4-container {
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: end;
}

#scene-4-background {
  position: relative;
  opacity: 0;
  object-fit: cover;
}

#scene-4-pandora {
  position: absolute;
  opacity: 0;
}

/* SCENE 5 */

.scene-5-container {
  display: flex;
  max-width: 2000px;
  width: 70%;
  position: relative;
  align-items: end;
  justify-content: center;
  padding-left:1rem;
  margin-bottom:1rem;
}

#scene-5-background {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.scene-5-overlay {
  position: absolute;
  height: 70%;
  width: 70%;
  opacity: 0;
}

#scene-5-smoke{
opacity:0;
height: 15%;
width: 15%;
position:absolute;
left:20%;
top:55%;
}

#scene-5-paragraph{
  color:white;
  padding-left:10rem;
  font-size: 1rem;
}