.finish-link {
  color: white;
  font-size: 4rem;
  text-decoration: none;

  bottom: 0;
  right: 0;
}

.finish-link:hover {
  color: #ffd500;
}

.finish-link-container {
  min-height: 10rem;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  margin-left: -2rem;
}
