.scene.scene9 {
  background-color: black;
}
.scene-9-container {
  display: flex;
  width: 100vw;
  height: 130vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
}
#scene-9-background {
  padding: 2rem;
  margin-top: 150rem;
}
.scene-9-paragraph {
  padding-top: 60rem;
  color: goldenrod;
  font-size: 3rem;
  background-color: black;
  text-align: center;

  animation: neon 1s ease infinite;
}
.scene-9-overlay {
  position: absolute;
  width: 100rem;
  height: 70rem;
  z-index: 100;
  padding-top: 108rem;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 10px #a56118, 0 0 20px #a56118, 0 0 20px #a56118;
  }
  50% {
    text-shadow: 0 0 2px goldenrod, 0 0 5px goldenrod, 0 0 5px #a56118;
  }
}
