.scene-8-container {
  display: flex;
  width: 100vw;
  min-height: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
}
#scene-8-background {
  margin-top: 3rem;
}
.scene-8-overlay {
  position: absolute;
  top: -9rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 42%;
  height: 46%;
  z-index: 250;
}
.scene-8-paragraph {
  background-color: black;
  color: azure;
  font-size: xx-large;
  margin-top: 2rem;
}
